body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Main */
.container {
    padding: 20px;
    text-align: center;
}