body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Header */
header {
    background-color: #8046b9; 
    padding: 20px; 
    display: flex;
    align-items: center;
}

header div {
    width: 25%;
}

header nav {
    width: 75%;
}

header svg {
    width: 50px;
}

header nav ul {
    display: flex; 
    justify-content: flex-end; 
    gap: 15px;
}

header nav ul li a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #cf9eff; 
}

/* Main */
.container {
    padding: 20px;
    text-align: center;
}