:root {
    --main-color: #425d3d;
    --secondary-color: #648e77;
}

body, html {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.active-link {
    color: white;
}

.btn {
    color: white;
    background-color: #3d24e4;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
}

.btn:hover {
    background-color: #6553de;
}

/* Header */
header {
    background-color: var(--main-color); 
    padding: 20px 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 999;
}

header div {
    width: 10%;
}

header nav {
    width: 80%;
}

header svg {
    width: 50px;
}

header nav ul {
    display: flex; 
    justify-content: flex-end; 
    gap: 15px;
}

header nav ul li {
    cursor: pointer;
}

header nav ul li a, header nav ul li {
    color: #C6C6C6;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s;
}

header nav ul li a:hover, header nav ul li:hover {
    color: white; 
}

/* burger menu */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    background-color: var(--secondary-color);
    border: none;
    padding: 7px;
    border-radius: 6px;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

/* Dropdown Styling */
.nav-item {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    list-style: none;
    width: 200px;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu li a {
    color: white;
    display: block;
    width: 100%;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu li:hover {
    background-color: var(--secondary-color);
}

.nav-item:hover .dropdown-menu {
    display: block;
}

/* Main */
.container {
    text-align: center;
    padding: 130px 20px 20px 20px;
}

/* Form */
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input, textarea, select {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form .btn {
    color: white;
    background-color: var(--main-color);
    border: none;
    padding: 7px;
    border-radius: 6px;
    width: 100%;
}

form .btn:hover {
    background-color: #5d8a55;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

/* Card */
.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px;
    max-width: 450px;
    margin: 30px auto;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 10px;
}

.card h2 span {
    color: #8046b9;
}

.card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.card p strong {
    font-weight: 600;
    color: #8046b9;
}

/* Home Page */
section.head {
    height: 500px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

section.head h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 185px;
}

section.head .input {
    height: 50px;
    width: 40%;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    align-items: center;
    margin-top: 10px;
}

section.head .input input {
    height: 93%;
    width: 85%;
    border: none;
    padding-left: 10px;
}

section.head .input button {
    width: 15%;
    height: 100%;
    color: white;
    background-color: black;
    border: none;
}

section.presentation {
    padding: 0 5%;
    max-width: 1400px;
    margin: auto;
}

section.presentation .title {
    text-align: center;
}

section.presentation h2 {
    font-size: 36px;
    color: var(--main-color);
}

section.presentation .infos {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

section.presentation .infos div {
    width: 50%;
}

section.presentation .infos .img-container {
    display: flex;
    justify-content: center;align-items: center;
}

section.presentation .infos .img-container img {
    width: 75%;
    border-radius: 12px;
}

section.presentation .infos .text-container {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 15px;
}

section.presentation .infos .text-container p {
    line-height: 30px;
}

section.presentation .infos .text-container h3 {
    color: var(--main-color);
}

section.services {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    height: 200px;
    margin-top: 80px;
}

section.services h2 {
    color: white;
    font-size: 28px;
}

section.services h2:hover {
    color: var(--main-color);
}

section.carousel {
    margin: 80px 0;
}

.carousel {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.slick-carousel {
    display: flex;
    justify-content: center;
}

.slick-carousel img {
    width: 80%;
    object-fit: cover;
    aspect-ratio: 10 / 16;
}

/* SERVICES */
.services-container {
    padding: 0 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.services-container .card {
    width: 230px;
    position: relative;
    overflow: hidden;
}

.services-container .card .content {
    margin-bottom: 25px;
}

.services-container .card .content h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    height: 100px;
}

.services-container .card .content p {
    color: black;
    justify-content: center;
}

.services-container .card .cta {
    background-color: var(--main-color);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 0;
}

.services-container .card .cta:hover {
    background-color: var(--secondary-color);
}

/* RESERVATION */
form#appointment_data .service, form#appointment_data .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

form#appointment_data .btn {
    width: fit-content;
    padding: 8px 18px;
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

table a {
    color: blue;
}

thead {
    background-color: #8046b9;
    color: #fff;
    text-align: left;
}

thead tr td {
    padding: 10px;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tbody tr:hover {
    background-color: #f1f1f1;
}

/* Action Buttons */
.action-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: darkred;
}

.btn-modify {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-modify:hover {
    background-color: darkorange;
}

/* Modal Styling */
#deleteModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.modal-content {
    padding: 10px;
    text-align: center;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-confirm {
    background-color: red;
    color: white;
}

.btn-cancel {
    background-color: gray;
    color: white;
}

.btn-confirm:hover{
    background-color: rgb(150, 39, 39);
}

.btn-cancel:hover{
    background-color: rgb(165, 165, 165);
}

/* Cuestomer Dashboard */
.appointments .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appointments .card span {
    margin-bottom: 20px;
}

.appointments .card button {
    width: fit-content;
}

/* FlatPicker */
.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
    background: var(--secondary-color);
    color: white;
}

.flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg {
    fill: var(--secondary-color);
}

@media (max-width: 1100px) {
    section.head h1 {
        font-size: 35px;
    }

    section.presentation h2 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    /* burger menu */
    header nav {
        display: flex;
        justify-content: flex-end;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: var(--main-color);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .burger {
        display: flex;
    }

    .nav-active {
        display: flex;
    }

    section.head {
        height: 400px;
    }

    section.head h1 {
        font-size: 30px;
        margin-bottom: 150px;
    }

    section.presentation .infos .img-container img {
        width: 85%;
    }

    .text-container p {
        font-size: 12px;
        line-height: 20px !important;
    }

    section.services h2 {
        font-size: 24px;
    }

    table {
        font-size: 14px;
    }

    tbody tr td {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    section.head h1 {
        text-align: center;
        margin: 0 10vw 100px 10vw;
    }

    section.presentation .infos {
        flex-direction: column;
        align-items: center;
    }

    section.presentation .infos.first {
        flex-direction: column-reverse;
    }

    section.presentation .infos div {
        width: 90%;
    }

    section.presentation .infos h3 {
        text-align: center;
    }

    section.services h2 {
        text-align: center;
    }
}