table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table a {
    color: blue;
}

thead {
    background-color: #8046b9;
    color: #fff;
    text-align: left;
}

thead tr td {
    padding: 10px;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tbody tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    tbody tr td {
        padding: 10px;
    }
}

/* Action Buttons */
.action-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: darkred;
}

.btn-modify {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-modify:hover {
    background-color: darkorange;
}

/* Modal Styling */
#deleteModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.modal-content {
    padding: 10px;
    text-align: center;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-confirm {
    background-color: red;
    color: white;
}

.btn-cancel {
    background-color: gray;
    color: white;
}

.btn-confirm:hover{
    background-color: rgb(150, 39, 39);
}

.btn-cancel:hover{
    background-color: rgb(165, 165, 165);
}